name: Map Project CD

on:
  push:
    branches: [ main ]  # 监听 main 分支的 push 操作

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy to AWS EC2
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
          
            cd ~/map-project
           
            if [ ! -d ".git" ]; then
              git clone https://github.com/${{ github.repository }}.git .
            else
              git pull origin main
            fi
            
            chmod +x mvnw
            ./mvnw clean package -DskipTests
            
            fuser -k 8080/tcp || true
            nohup java -Xmx512m -jar target/*.jar > app.log 2>&1 &
            
            echo "Deployment finished for Spring Boot."